@model DienDanCongNgheThongTin.Models.framework.BaiHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaiHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenBaiHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBaiHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imgUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iconUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iconUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhoaHoc.TenKhoaHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhoaHoc.TenKhoaHoc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaBaiHoc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
