@model IEnumerable<DienDanCongNgheThongTin.Models.framework.Terms>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Term</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTerms }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTerms }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTerms })
        </td>
    </tr>
}

</table>
